.carousel {
  &__item {
    min-height: 512px;
    padding: 188px 44px 36px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: $color_white;
    &__slogan{
      font-size: 72px;
      line-height: 84px;
      margin-bottom: 22px;
    }

    &.atv-banner {
      color: $color_black;
      text-align: left;
     
    }
    &.app-banner{
      background-image: url(../images/banners/airpods_pro_banner.png);
    }
    &.watch-banner{
      background-image: url(../images/banners/watch_banner.jpg);
    }
    &.mbpro-banner{
      background-image: url(../images/banners/mac_book_banner.jpg);
    }
    &.atv-banner{
      background-image: url(../images/banners/apple_tv_banner.png);
    } 
    &.iphone-banner{
      background-image: url(../images/banners/iphone_12_banner.jpg);
    }
    &.apm-banner{
      color: $color_black;
      background-image: url(../images/banners/air_pods_max_banner.jpg);
    }
    &.ipp-banner{
      background-image: url(../images/banners/ipad_air_banner.jpg);
    }
  }

};