.header{
  display: flex;
  justify-content: space-between;
  padding: 12px 8px;
  &__logo{
    height: 24px;
  }
  &__cart-wrapper{
    position: relative;
  }
  &__identificator{
    position: absolute;
    top:22px;
    left: -8px;
    padding: 4px 8px;
    text-align: center;
    border-radius: 50%;
    font-size: toRem(14);
    color: $color_white;
    background-color: $color_blue;
  }
}