$breakpoint_xl: 1200px;
$breakpoint_lg: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;

$color_blue: #0E49B5;
$color_white: #FFFFFF;
$color_black: #000000;
$color_inop: #DDDDDD;
$color_lightgrey: #C4C4C4;
$color_greycircle: #767272;