@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700);
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, menu, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, menu {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.container {
  max-width: 1054px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-add {
  width: 150px;
  color: #FFFFFF;
  padding: 14px 26px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  background-color: #0E49B5;
  cursor: pointer;
}
.btn-add:hover {
  text-decoration: underline;
}

.btn-active {
  background-color: #0E49B5;
}

.btn-disabled {
  background-color: #C4C4C4;
}

.red {
  fill: red;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 8px;
}
.header__logo {
  height: 24px;
}
.header__cart-wrapper {
  position: relative;
}
.header__identificator {
  position: absolute;
  top: 22px;
  left: -8px;
  padding: 4px 8px;
  text-align: center;
  border-radius: 50%;
  font-size: 0.875rem;
  color: #FFFFFF;
  background-color: #0E49B5;
}

.finder {
  position: relative;
  margin: 0 0 20px;
}
.finder__btn {
  position: absolute;
  top: 12px;
  padding: 8px 8px 6px;
  border: none;
  border-radius: 50%;
  background-color: #0E49B5;
  cursor: pointer;
}
.finder__btn.search-btn {
  left: 18px;
  background-color: transparent;
}
.finder__btn.order-btn {
  right: 8px;
}
.finder__btn.filter-btn {
  right: 60px;
}
.finder__input {
  display: block;
  width: 100%;
  padding: 20px 72px;
  border: 1px solid #767272;
  border-radius: 4px;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
.finder__input:focus {
  outline: none;
}

.section-group {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 320px;
  height: fit-content;
  border: 1px solid #C4C4C4;
}
.filter__title {
  position: relative;
  width: 100%;
  padding: 14px 30px;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: left;
  border: none;
  border-bottom: 1px solid #C4C4C4;
  border-top: 1px solid #C4C4C4;
  background-color: transparent;
  cursor: pointer;
}
.filter__title::before, .filter__title::after {
  content: "";
  width: 12px;
  height: 4px;
  background-color: #767272;
  position: absolute;
  top: 24px;
  transition: all 0.3s ease 0s;
}
.filter__title::before {
  right: 22px;
  transform: rotate(40deg);
}
.filter__title::after {
  right: 16px;
  transform: rotate(-40deg);
}
.filter__title.arr-top::before {
  transform: rotate(-40deg);
}
.filter__title.arr-top::after {
  transform: rotate(40deg);
}
.filter__group-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 26px 32px 32px;
}
.filter__group-wrapper__doulble-col {
  padding: 32px 26px 32px 32px;
  column-count: 2;
  column-gap: 4px;
}
.filter__group-wrapper__doulble-col.hidden {
  display: none;
}
.filter__group-wrapper.hidden {
  display: none;
}
.filter__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.filter__group:last-child {
  margin: 0;
}
.filter__label {
  display: block;
  margin-bottom: 12px;
  font-size: 0.875rem;
  line-height: 1rem;
  cursor: pointer;
}
.filter__label:last-child {
  margin: 0;
}
.filter__input {
  display: block;
  max-width: 188px;
  padding: 12px 60px;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  border: 1px solid #767272;
  border-radius: 4px;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 640px;
  gap: 40px;
}
.catalog__item {
  width: 300px;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
}

.item__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px 16px;
}
.item__media {
  position: relative;
  margin: 0 0 32px;
}
.item__img {
  height: 200px;
}
.item__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.item__status-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
  color: #767272;
}
.item__price {
  margin-bottom: 8px;
  color: #C4C4C4;
}
.item__price-value {
  color: #767272;
}
.item__footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 24px 28px 44px;
  border-top: 1px solid #C4C4C4;
  font-size: 0.875rem;
  line-height: 1rem;
  background-color: #DAE2EA;
}
.item__footere-icon {
  position: absolute;
  top: 20px;
  left: 12px;
}

.btn-like {
  position: absolute;
  top: -24px;
  right: -48px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal__container {
  max-height: 500px;
  max-width: 1020px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
.modal__media {
  padding: 108px 16px 136px 28px;
  border-right: 1px solid #767272;
}
.modal__img {
  height: 250px;
  max-width: 250px;
  object-fit: contain;
}
.modal__stats {
  padding: 36px 70px 92px;
  border-right: 1px solid #767272;
}
.modal__item-title {
  margin-bottom: 22px;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
}
.modal__review {
  width: 300px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.modal__stats-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal__order-wrapper {
  padding: 174px 72px 154px;
}
.modal__price-section {
  margin-bottom: 24px;
  font-size: 2.25rem;
  line-height: 2.625rem;
  font-weight: bold;
}
.modal__stock-section {
  margin-bottom: 24px;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

/*# sourceMappingURL=style.css.map */
